################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IO2P/bin/Debug/IO2P.exe
/IO2P/bin/Debug
/IO2P/obj/Debug/IO2P.exe
/IO2P/obj/Debug/IO2P.pdb
/IO2P/bin
/IO2P/obj/
/bin
/obj