################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IO2P/bin/Debug/IO2P.exe
/IO2P/bin/Debug
/IO2P/obj/Debug/IO2P.exe
/IO2P/obj/Debug/IO2P.pdb
/IO2P/bin
/IO2P/obj/
/bin
/obj
/IO2P/System.Web.Razor.xml
/IO2P/System.Web.Razor.dll
/IO2P/System.Runtime.InteropServices.RuntimeInformation.dll
/IO2P/Owin.dll
/IO2P/Nancy.xml
/IO2P/Nancy.ViewEngines.Razor.xml
/IO2P/Nancy.ViewEngines.Razor.dll
/IO2P/Nancy.Testing.xml
/IO2P/Nancy.Testing.dll
/IO2P/Nancy.Owin.xml
/IO2P/Nancy.Owin.dll
/IO2P/Nancy.Hosting.Self.xml
/IO2P/Nancy.Hosting.Self.dll
/IO2P/Nancy.Hosting.Aspnet.xml
/IO2P/Nancy.Hosting.Aspnet.dll
/IO2P/Nancy.dll
/IO2P/Nancy.Bootstrappers.Autofac.dll
/IO2P/Nancy.Authentication.Stateless.xml
/IO2P/Nancy.Authentication.Stateless.dll
/IO2P/Nancy.Authentication.Forms.xml
/IO2P/Nancy.Authentication.Forms.dll
/IO2P/MongoDB.Driver.xml
/IO2P/MongoDB.Driver.dll
/IO2P/MongoDB.Driver.Core.xml
/IO2P/MongoDB.Driver.Core.dll
/IO2P/MongoDB.Bson.xml
/IO2P/MongoDB.Bson.dll
/IO2P/IO2P.XML
/IO2P/IO2P.vshost.exe.manifest
/IO2P/IO2P.vshost.exe.config
/IO2P/IO2P.exe.config
/IO2P/IO2P.exe
