@{
  Layout="front/mainWrapper.cshtml";
}
<div class="content welcome">
   <h1>Witamy w FileTEKA</h1>
   <img src="https://lh4.googleusercontent.com/-115_BjIc-w0/VKwr3Z2GkuI/AAAAAAAAGCE/x9j8kkCrzhM/s1600/files_app_icon_256.png">
   <h3>Najlepszym systemie przechowywania plików</h3>
</div>
