@{
  Layout="front/mainWrapper.cshtml";
}

 <div class="content">
     <h1 class="header">@RenderSection("title", true)</h1>
     <table class="table">
         <thead>
         <tr>
             <th>#</th>
             <th>Nazwa pliku</th>
             <th>Typ</th>
             <th>Rozmiar</th>
             <th>Data przesłania</th>
             <th>Akcje</th>
         </tr>
         </thead>
         <tbody>
            <tr class="tableLoader"><td colspan="6">
               <div class="loader"></div>
            </td></tr>
         </tbody>
     </table>
 </div>


<script type="text/javascript">
 $(document).ready(function () {
   $(".del-btn").click(function() {
      selected = $(this).parent().siblings();
      name = selected[1].innerText;
      console.log(name);
      $.ajax({
        type: "POST",
        url: window.location.host + '/removefile',
        data: {
          filename: name,
          action: "delete"
        },
        success: function(msg) {
          console.log( "Return data: " + msg );
          $('<div class="alert alert-success"><strong>Success! </strong>File deleted!</div>')
            .insertAfter(".header");
          setTimeout(() => {
            $(".alert").remove();
          }, 3000);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          console.log( "Connection error occurred!");
          $('<div class="alert alert-danger"><strong>Danger! </strong>Connection error occured!</div>')
            .insertAfter(".header");
          setTimeout(() => {
            $(".alert").remove();
          }, 3000);
        }
      });
  });
 });
</script>
