@{
  Layout="front/mainWrapper.cshtml";
}
<style>
    .sort{
        color:#337ab7;
        cursor:pointer;
        margin-right:10px;
        padding-right:10px;
    }
    .desc::after{
        content:"      \f063";
        font-family: FontAwesome;
    }
    .asc::after{
        content:"      \f062";
        font-family: FontAwesome;
    }
    .alert{
        position:absolute;
        opacity:0.8;
        width:100%;
        text-align:center;
        top:0px;
    }

</style>
 <div class="content" style="position:relative">
     <h1 class="header">@RenderSection("title", true)</h1>
     <div class="form-inline" style="float:right">

         <input type="text" class="form-control searchInput" searchName="filename" placeholder="nazwa pliku"/>
         <input type="text" class="form-control searchInput" searchName="fileExtension" placeholder="rozszerzenie"/>
         <button type="submit" class="search btn btn-primary">SEARCH</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th class="sort currSort" sort="none" name="filename">Nazwa pliku</th>
                <th class="sort" sort="none" name="fileType">Typ</th>
                <th>Rozmiar</th>
                <th class="sort" sort="none" name="date">Data przesłania</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody class="listTable">
            <tr class="tableLoader">
                <td colspan="6">
                    <div class="loader"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

 <script type="text/javascript">
    var deleteItem = function(that){
       selected = that.parent().siblings();
       var file_id = that.parent().parent().attr('itemid');
       console.log(file_id);
       $.ajax({
         type: "POST",
         url: "http://"+window.location.host + '/removefile',
         data: {
           "fileId": file_id,
         },
         success: function(msg) {
           console.log( "Return data: " + msg );
           $('<div class="alert alert-success"><strong>Success! </strong>File deleted!</div>')
             .insertAfter(".header");
           that.parent().parent().remove();
           setTimeout(() => {
             $(".alert").remove();
           }, 2000);

         },
         error: function(xhr, ajaxOptions, thrownError) {
           console.log( "Connection error occurred!");
           $('<div class="alert alert-danger"><strong>Danger! </strong>Connection error occured!</div>')
             .insertAfter(".header");
           setTimeout(() => {
             $(".alert").remove();
           }, 2000);
         }
       });
    }

    $(document).ready(function () {
        $('.sort').click(function(){
            var sort = $(this).attr('sort');
            $('.sort').attr('sort', 'none');
            $('.sort').removeClass('asc');
            $('.sort').removeClass('desc');
            $('.sort').removeClass('currSort');
            var name = $(this).attr('name');
            var category = $('.content').attr('category');
            if (sort == 'asc') {
                sort = 'desc';
                $(this).addClass('desc');
            } else if (sort == 'desc') {
                sort = 'none';
            } else {
                sort = 'asc';
                $(this).addClass('asc');
            }
            $(this).attr('sort', sort);
            $(this).addClass('currSort');
            $('.search').trigger('click');
        });

        $('.search').click(function () {
            var sort = $('.currSort').attr('sort');
            var sortName = $('.currSort').attr('name');
            var category = $('.content').attr('category');


            var filterData = {};
            if (sort == 'asc') {
                filterData.sortingList = sortName + ',ASC';
            } else if (sort == 'desc') {
                filterData.sortingList = sortName + ',DESC';
            }
            $('.searchInput').each(function () {
                if ($(this).val()) {
                    filterData[$(this).attr('searchName')] = $(this).val();
                }
            });

            loadFiles(category, filterData);
        });
    });

 </script>

<script>
    var loadFiles = function (category, data) {
        $('.content').attr('category', category);
        $('.listTable').html('<tr class="tableLoader"><td colspan="6"><div class="loader"></div></td></tr>');
      $.ajax({
          type: "GET",
          data: data,
        url: "http://"+window.location.host + '/listfiles/'+category,
        success: function(data) {
          $('.tableLoader').remove()
          $.each(JSON.parse(data), function(index, itemData) {
             var row = $("<tr itemid='"+itemData._id.$oid+"'></tr>");
              if(category=='image'){
                 link = $("<td><a class='gallery' href='"+"http://"+window.location.host+"/getfile/"+itemData._id.$oid+"'>"+itemData._id.$oid+"</a></td>")
                 row.append(link);
              } else if (category =='audio'){
                 audio = $("<td><audio controls src='"+"http://"+window.location.host+"/getfile/"+itemData._id.$oid+"'>Not supported</audio></td>");
                 row.append(audio);
              }
              else {
                  var $video = '<div style="text-align:center"><video controls="" width:"600" height:"400" name="media"><source src="http://' + window.location.host + '/getfile/' + itemData._id.$oid + '" ></video></div>';

                  link = $("<td><a style='curser:pointer' href='#' class='videos'>" + itemData._id.$oid + "</a></td>")
                  link.colorbox({inline:true, href:$video, width:'700px', height:'550px'})
                  row.append(link);
              }
              row.append("<td>"+itemData.filename+"."+itemData.fileExtension+"</td>")
              row.append("<td>"+itemData.fileType+"</td>")
              row.append("<td>"+"---"+"</td>")
              row.append("<td>"+itemData.date+"</td>")
              row.append("<td>"+"<button class='btn btn-default'>Edytuj</button>"+"<button onclick='deleteItem($(this))' class='btn btn-danger del-btn'>Usuń</button>"+"</td>");

              $(".listTable").append(row);
            });
         // $(".listTable .videos").colorbox({ inframe: true, width:'600px', height:'400px' });

            $(".listTable .gallery").colorbox({photo:true});
          $('<div class="alert alert-success"><strong>Success! </strong>Successfully downloaded files!</div>').insertAfter(".header");
          setTimeout(() => {
            $(".alert").remove();
          }, 3000);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.tableLoader').remove();
          console.log( "Connection error occurred!");
          $('<div class="alert alert-danger"><strong>Danger! </strong>Connection error occured!</div>').insertAfter(".header");
          setTimeout(() => {
            $(".alert").remove();
          }, 3000);
        }
      });
   }
</script>

@RenderBody()
