@{
  Layout="front/mainWrapper.cshtml";
}

 <div class="content">
     <h1 class="header">@RenderSection("title", true)</h1>
     <table class="table">
         <thead>
         <tr>
             <th>#</th>
             <th>Nazwa pliku</th>
             <th>Typ</th>
             <th>Rozmiar</th>
             <th>Data przesłania</th>
             <th>Akcje</th>
         </tr>
         </thead>
         <tbody class="listTable">
            <tr class="tableLoader"><td colspan="6">
               <div class="loader"></div>
            </td></tr>
         </tbody>
     </table>
 </div>

 <script type="text/javascript">
    var deleteItem = function(that){
       selected = that.parent().siblings();
       var file_id = selected[0].innerText;
       console.log(file_id);
       $.ajax({
         type: "POST",
         url: "http://"+window.location.host + '/removefile',
         data: {
           "fileId": file_id,
         },
         success: function(msg) {
           console.log( "Return data: " + msg );
           $('<div class="alert alert-success"><strong>Success! </strong>File deleted!</div>')
             .insertAfter(".header");
           setTimeout(() => {
             $(".alert").remove();
           }, 3000);
         },
         error: function(xhr, ajaxOptions, thrownError) {
           console.log( "Connection error occurred!");
           $('<div class="alert alert-danger"><strong>Danger! </strong>Connection error occured!</div>')
             .insertAfter(".header");
           setTimeout(() => {
             $(".alert").remove();
           }, 3000);
         }
       });
    }
 </script>

<script>
   var loadFiles = function(category){
      $.ajax({
        type: "GET",
        url: "http://"+window.location.host + '/listfiles/'+category,
        success: function(data) {
          $('.tableLoader').remove()
          $.each(JSON.parse(data), function(index, itemData) {
             var row = $("<tr></tr>");
              row.append("<td>"+itemData._id.$oid+"</td>")
              row.append("<td>"+itemData.filename+"."+itemData.fileExtension+"</td>")
              row.append("<td>"+itemData.fileType+"</td>")
              row.append("<td>"+"---"+"</td>")
              row.append("<td>"+itemData.date+"</td>")
              row.append("<td>"+"<button class='btn btn-default'>Edytuj</button>"+"<button onclick='deleteItem($(this))' class='btn btn-danger del-btn'>Usuń</button>"+"</td>");

              $(".listTable").append(row);
            });
          $('<div class="alert alert-success"><strong>Success! </strong>Successfully downloaded files!</div>').insertAfter(".header");
          setTimeout(() => {
            $(".alert").remove();
          }, 3000);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.tableLoader').remove();
          console.log( "Connection error occurred!");
          $('<div class="alert alert-danger"><strong>Danger! </strong>Connection error occured!</div>').insertAfter(".header");
          setTimeout(() => {
            $(".alert").remove();
          }, 3000);
        }
      });
   }
</script>

@RenderBody()
